.bar{
	width: 120px;
	float: left;
	
}

.top-circle{
	margin: 40px 10px 0px 10px !important; 
	/*
	width: 250px;
	height: 125px;
	border-radius: 150px 150px 0px 0px ;
	*/
	width: 75%;
	height: 10em;
	border-radius: 50rem 50rem 0em 0em;
}

.bot-circle{
	margin: 40px 10px 0px 10px !important; 
	/*
	width: 250px;
	height: 125px;
	border-radius: 0px 0px 150px 150px;
	*/
	width: 75%;
	height: 10em;
	border-radius: 0em 0em 50rem 50rem;
}

.circle{
	margin: 40px 10px 0px 10px !important; 
	/*
	width: 250px;
	height: 250px;
	*/
	width: 15em;
	height: 15em;
	border-radius: 50%;
}


