/* resets and overrides
========================*/
*, *:before, *:after{
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

/*links and types
========================*/
html{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	width: auto;
	height: auto;
	border: 0;
	margin: 0;
}

/*layout
========================*/
.flex-container{
	padding: 0;
	margin: 0;
	list-style: none;
	/*position: absolute;*/
	flex-direction: row;
	display: flex;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	
}

.flex-item{
	height: 45vh;
	padding: 0;
	margin: 0;
	justify-self: center;
	list-style: none;
}

.nowrap  { 
	-webkit-flex-wrap: nowrap;
	flex-wrap: nowrap;
}

.wrap    { 
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.grid-top{
	 display: grid;
	grid-template-columns: 200px auto 200px;
	grid-template-rows: 50% 50%;
	grid-template-areas:
		"left top right"
		"left mid right"
		"left bot right";
}

.top-container{
	height: 50% ;
	width: 100% ;

	height: calc(50% -10px);
	width: calc(100% -10px);

	height: -moz-calc(50% -10px);
	width: -moz-calc(100% -10px);

	height: -webkit-calc(50% -10px);
	width: -webkit-calc(100% -10px);

	align-self: flex-start;
	margin: 10px;
}

.bot-container{
	align-self: center;

	height: 50% ;
	width: 100%;

	height: calc(50%  -10px);
	width: calc(100% -10px);

	height: -moz-calc(50% -10px);
	width: -moz-calc(100% -10px);

	height: -webkit-calc(50% -10px);
	width: -webkit-calc(100% -10px);

	justify-content: flex-end;
	margin: 20px 10px 10px 10px;
}

#break{
	grid-area: left;
	margin-right: auto;
	margin-top: 20px;
	margin-left: 10px;
}

#accel{
	grid-area: right;
	margin-left: auto;
	margin-top: 20px;
	margin-right: 10px;
}

/* misc
========================*/
.parent{
	background-color:#1f292f; 
	height: 100vh;
	width: 100vw;
	
}

.height100{
	height: 100%;
}

.width100{
	width: 100%;
}
