/* resets and overrides
========================*/
*, *:before, *:after{
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

/*links and types
========================*/
html{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	width: auto;
	height: auto;
}

/*layout
========================*/
.flex-container{
	padding: 0;
	margin: 0;
	list-style: none;
	/*position: absolute;*/
	flex-direction: row;
	display: flex;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	
}

.nowrap  { 
	-webkit-flex-wrap: nowrap;
	flex-wrap: nowrap;
}

.wrap    { 
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.grid{
	 display: grid;
	grid-template-rows: 200px 100px;
	grid-template-columns: repeat(4, 100px);
}

.top {
	height: 50% ;
	width: 100% ;

	height: calc(50% -10px);
	width: calc(100% -10px);

	height: -moz-calc(50% -10px);
	width: -moz-calc(100% -10px);

	height: -webkit-calc(50% -10px);
	width: -webkit-calc(100% -10px);

	align-self: flex-start;
	margin: 10px;
}

.bot {
	height: 50% ;
	width: 100%;

	height: calc(50%  -10px);
	width: calc(100% -10px);

	height: -moz-calc(50% -10px);
	width: -moz-calc(100% -10px);

	height: -webkit-calc(50% -10px);
	width: -webkit-calc(100% -10px);

	justify-content: flex-end;
	margin: 20px 10px 10px 10px;
}

/* misc
========================*/
.parent{
	background-color:#1f292f; 
	height: 100vh;
	width: 100vw;
	
}

.height100{
	height: 100%;
}

.width100{
	width: 100%;
}
